
/* ↓似顔絵と紹介分がスクロールによって右からスライドしてくる */
.oya{
    margin: 0 auto;
    width: 300px;
    text-align: center;
    margin-top: 100px;
    transition: all 3s ease;
    transform: translateX(0%);
    opacity:1;
}

.oya.hide{
    transition: all 3s ease;
    opacity:0;
    transform: translateX(100%);
}


/* ハンバーガーメニュー */
.hamburger{
    width: 28px;
    height: 30px;
    /* margin: 30px auto 10px; */
}
.hamburger .pate,
.hamburger .pate::before,
.hamburger .pate::after{
    width: 100%;
    height: 1px;
    background-color: black;
    border-radius: 2px;
    display: block;
    transition: all .5s ease;
}

.hamburger .pate{
    position: relative;
    top: calc(50% - 2px);
}

.hamburger .pate::before,
.hamburger .pate::after{
    content: '';
    position: absolute;
}

.hamburger .pate::before{
top: -9px;
}

.hamburger .pate::after{
    top: 9px
}

/* ハンバーガーの変更をする部分 */
.hamburger:hover .pate{
    background-color: transparent;
    cursor: pointer;
}

.hamburger:hover .pate::before{
    transform: rotate(45deg) translate(5px,5px);
}

.hamburger:hover .pate::after{
    transform: rotate(-45deg) translate(7px,-8px);
}

/* ハンバーガーメニューの中身 */

.header-right{
    width: 10%;
    height: 100vh;
    background-color: gray;
    text-align: center;
    margin-top: 100px;
    transition: all 3s ease;
    transform: translateX(100%);
    opacity:1;
}

.header-right.active{
    transition: all 3s ease;
    opacity:1;
    transform: translateX(100%);
}